<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">CONTACTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding top-general">
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" class="item-bottom">
          <ion-input placeholder="Nombre de usuario" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="item-bottom">
          <ion-input placeholder="986896369" type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="item-bottom">
          <ion-input placeholder="Carlos@gmail.com" type="email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="item-bottom">
          <ion-input placeholder="Asunto" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="item-bottom">
          <ion-textarea placeholder="Escriba su Mensaje aquí" rows="3"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="btn-editar">ENVIAR</ion-button>
</ion-content>
<ion-footer mode="ios">
  <div class="div-footer">
    <ion-icon name="analytics-sharp" class="icon-footer "></ion-icon>
    <p class="p-footer ">Cuentas</p> 
  </div>
  <div class="div-footer">
    <ion-icon name="notifications-outline" class="icon-footer"></ion-icon>
    <p class="p-footer">Noticias</p>
  </div>
  <div class="div-footer">
    <ion-icon name="person-outline" class="icon-footer"></ion-icon>
    <p class="p-footer">Perfil</p>
  </div>
  <div class="div-footer">
    <ion-icon name="mail-outline" class="icon-footer icon-azul-footer"></ion-icon>
    <p class="p-footer p-azul-footer">Contacto</p>
  </div>
</ion-footer>
